.tagged--list {
  margin-top: 150px;

  .tagged-title {
    margin-bottom: 50px;
  }

  &__article {
    display: flex;
    flex-direction: row;
    box-shadow: none;
    width: auto;
    margin-bottom: 50px;

    .article {
      &-preview {
        width: 400px;
        height: 400px;

        .like {
          bottom: -5%;
          left: -10%;
        }

        .image {
          width: 400px;
          height: 400px;
        }
      }

      &-description {
        padding-top: 0;
        margin-top: 0;
      }

      &__text {
        color: rgba(255, 255, 255, .8);
        font-size: 22px;
      }

      &__title {
        font-size: 28px;
      }

      &__info {
        justify-content: flex-start;
        color: rgba(255, 255, 255, .8);
        font-size: 16px;
      }
    }
  }
}