.article {
  width: 300px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  margin: 20px;

  &-preview {
    border-radius: 10px;
    position: relative;
  }

  &__tags {
    margin: 10px 0 30px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  &__tag {
    color: tomato;
    text-decoration: none;
  }

  &__title {
    display: inline-block;
    font-size: 24px;
    transition: color .4s ease;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      color: tomato;
    }
  }

  &__text {
    font-size: 18px;
    font-family: 'Poppins', serif;
    font-weight: 300;
    margin: 45px 0 30px;
    color: #ffffff;
  }

  &-description {
    margin-top: 30px;
    padding: 20px;
  }

  &__info {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 14px;
  }

  .dash {
    width: 20px;
    height: 2px;
    background-color: tomato;
    position: relative;
    margin: 0 15px 0;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }
}