.home {
  background-color: #181a1b;

  &-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0 60px;

    &__title {
      color: #ffffff;
      font-size: 32px;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
    }

    &__subtitle {
      color: rgb(190, 185, 176);
      font-family: 'Open Sans', sans-serif;
    }
  }

  &-grid {
    display: flex;
    justify-content: center;

    &-masonry {
      width: 80%;
    }
  }
}