.tagged-article {
  width: 850px;
  position: relative;

  &-image {
    width: auto !important;
    height: 400px;

    &__img {
      width: 100%;
      height: 100%;
    }
  }

  &__author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__like {
    top: 50%;
    $this: &;

    &--liked {
      background-color: #5c6061;

      #{$this}__icon {
        animation: pop .3s linear;
      }
    }
  }

  &__title {
    margin: 50px 0 30px;
  }

  &__details {
    margin-top: 20px;
  }

  &__title {
    display: block;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    transition: color .4s ease;
    cursor: pointer;

    &:hover {
      color: tomato;
    }
  }

  &__details {
    font-family: 'Poppins', serif;
    display: flex;
    align-items: center;
  }

  &__author-avatar {
    margin-right: 20px;
  }

  &__author,
  &__date,
  &__tag {
    position: relative;

    &::after {
      display: inline-block;
      content: '';
      width: 20px;
      height: 2px;
      background-color: tomato;
      position: relative;
      bottom: 5px;
      margin: 0 20px;
    }
  }

  &__content {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin: 30px 0;
  }

  &__socials {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
}