@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open-Sans/OpenSans-Regular.ttf") format('ttf');
}

$poppins: 'Poppins';