.image {
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;

  &__img {
    max-width: 100%;
    max-height: 100%;
    transition: transform .7s ease, filter .7s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      filter: brightness(60%);
    }
  }
}