.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  overflow: hidden;

  &__img {
    max-width: 100%;
    max-height: 100%;
    transition: transform .7s ease, filter .7s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      filter: brightness(60%);
    }
  }
}