@import "src/assets/styles/fonts";

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: 50% 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__dimmer {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }

  &__title {
    font-size: 45px;
    font-family: $poppins, sans-serif;
    font-weight: 700;
    letter-spacing: .5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;

    &-info {
      display: flex;
      width: 65%;
      justify-content: center;
      font-size: 20px;
      font-family: $poppins;
      font-weight: 500;
      letter-spacing: 1px;

      div {
        padding: 0 10px;
      }
    }
  }
}