.slider {
  height: 580px;

  &-wrapper {
    overflow: hidden;
    display: inline-block;
    transition: transform ease-out .45s;
    height: 100%;
    width: 100%;
  }

  &__arrow-right,
  &__arrow-left {
    position: absolute;
    top: 35%
  }

  &__arrow-right {
    right: 0;
  }
}