.load-more {
  position: relative;
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: #5c6061;
  left: 35%;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  transition: background-color .4s ease;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 3%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);

  &:hover {
    background-color: #8a8e8f;
  }
}